<ion-content>
    <div class="main_content_div">

        <ion-icon name="chevron-back" class="back_icn" (click)="goToBack()"></ion-icon>
        <ion-label class="bold_lbl">Forgot Password ?</ion-label>
        <ion-label class="small_lbl">Enter your email address or phone number to reset the password</ion-label>

        <ion-input type="text" placeholder="Email">
          <ion-icon name="mail"></ion-icon>
        </ion-input>

        <ion-label class="or_lbl">OR</ion-label>
        
        <ion-input type="text" placeholder="Pnone">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </ion-input>

        <ion-button expand="block">
          Reset Password
        </ion-button>
    </div>
</ion-content>
