<ion-header>
  <ion-toolbar>
      <ion-button size="small" fill="clear" (click)="goToBack()" slot="start">
          <ion-icon name="chevron-back"></ion-icon>
          Back
      </ion-button>
      <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
      <div style="margin-bottom: 25px">
          <ion-label class="title_lbl">Terms & Policies</ion-label>
      </div>

      <ion-label class="content_lbl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae reiciendis 
          nobis sit rerum facilis modi eveniet, placeat velit accusantium dignissimos voluptates, 
          voluptas atque delectus labore nisi? Fugiat, assumenda non?
      </ion-label>

      <ion-label class="content_lbl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo beatae, 
          repellendus corrupti doloremque perspiciatis consequuntur necessitatibus tempore 
          eligendi quasi dolorum facilis quibusdam autem quod blanditiis voluptates possimus 
          culpa quas!
      </ion-label>

      <ion-label class="content_lbl">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolor quibusdam 
          soluta assumenda necessitatibus quidem, fugiat itaque quis eius recusandae officia 
          unde architecto rerum libero dolorem sunt ut a quae?        
      </ion-label>

  </div>
</ion-content>