.main_content_div {
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }

    .title_lbl {
        font-size: 20px;
        font-family: 'semi-bold';
        margin-bottom: 16px;
    }

    .content_lbl {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    
}