<ion-content>
    <div class="main_content_div">
        <ion-label class="bold_lbl">Chat <br> anytime.</ion-label>
        <ion-label class="small_lbl">A simple way to text, video and <br> plan things all in one place.</ion-label>
        <div class="back_img" [style.backgroundImage]="'url(assets/imgs/1.jpg)'">
            <div class="start_btn" (click)="goToLogin()">
                <ion-label>Get Started</ion-label>
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
