.main_content_div {
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }

    .flex_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        ion-label {
            color: grey;
            font-size: 14px;
        }
    }

    .user_div {
        border-bottom: 1px solid lightgrey;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        .user_back {
            height: 45px;
            width: 45px;
            border-radius: 100%;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .user_detail {
            margin-left: 10px;
            .name_lbl {
                font-family: 'semi-bold';
            }
            .grey_lbl {
                color: grey;
                font-size: 14px;
            }
        }
        .action_div {
            position: absolute;
            right: 0;
            .check_icn {
                color: var(--ion-color-primary);
                font-size: 26px;
            }
            .close_icn {
                color: lightgray;
                font-size: 26px;
                margin-left: 10px;
            }
        }
        ion-button {
            position: absolute;
            right: 0;
        }
    }
}