<ion-content>
    <div class="main_content_div">

        <div class="header_flex">
            <ion-button (click)="goToBack()" size="small" fill="clear">
              <ion-icon name="chevron-back"></ion-icon>
              Back
            </ion-button>
            <ion-button fill="clear" size="small">
              Skip
            </ion-button>
        </div>

        <ion-label class="bold_lbl">Welcome Back</ion-label>
        <ion-label class="small_lbl">Log in with your account</ion-label>

        <ion-input type="text" placeholder="Email">
            <ion-icon name="mail"></ion-icon>
        </ion-input>

        <ion-input type="text" placeholder="Password">
            <ion-icon name="key"></ion-icon>
        </ion-input>

        <ion-button expand="block" (click)="goToTabs()">
          Login
        </ion-button>

        <ion-label class="forgot_lbl" (click)="goToForgot()">Forgot Password ?</ion-label>

        <ion-label class="abs_lbl" (click)="goToRegister()">Don't have an account ? Join Now</ion-label>

    </div>
</ion-content>
