ion-content {
    --background: #f4f5f8;
    p{
        color: gray;
    }
}
.topSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    .img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        background: var(--ion-color-primary);
        border-radius: 50%;
        .animatedImg{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }
}
.nearYou{
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    .title{
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--ion-color-primary);
    }
    .list_div{
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        align-items: center;
        position: relative;
        width: 100%;
        // border-bottom: 1px solid lightgray;

        .user_image{
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .content_div{
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            .username{
                font-weight: bold;
            }
            .msg{
                font-size: 12px;
            }
        }
        .time_lbl{
            font-size: 10px;
            position: absolute;
            right: 16px;
            top: 15px;
        }
        .unread_lbl{
            font-size: 10px;
            position: absolute;
            right: 16px;
            background: gray;
            color: white;
            bottom: 15px;
            padding: 5px;
            border-radius: 50%;
            // width: max-content;
        }
    }   
}