<ion-list lines="none">
  <ion-item (click)="close()">
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-label>Search</ion-label>
  </ion-item>
  <ion-item (click)="close()">
    <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
    <ion-label>Report</ion-label>
  </ion-item>
  <ion-item (click)="close()">
    <ion-icon name="volume-mute-outline" slot="start"></ion-icon>
    <ion-label>Mute</ion-label>
  </ion-item>
  <ion-item (click)="close()">
    <ion-icon name="power-outline" slot="start"></ion-icon>
    <ion-label>Leave channel</ion-label>
  </ion-item>
</ion-list>